<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;padding:10px;">
    <h1>
      Welcome to {{ title }}!
    </h1>
    
  
  
    <div class="bx--grid" style="margin-top:20px">
      <div class="bx--row">
        <div class="bx--col-md-4 indigo">
            <div class="col-example">
                <div class="bx--form-item">
                  <label for="select-id-form" class="bx--label">Bussiness Unit</label>
                  <div class="bx--select">
                    <select id="select-id-form" class="bx--select-input" (change)="getSelectedValue($event)">
                      <option class="bx--select-option" disabled selected >All</option>
                     <option *ngFor="let item of bussinessArrs" [value]="item" >{{item}}</option>
                  </select>
                    <div class="bx--form-requirement">
                      Please choose an option.
                    </div>
                    <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
                      <path d="M10 0L5 5 0 0z"></path>
                    </svg>
                  </div>
                </div>
              
              </div>
           </div>
           <div class="bx--col-md-4 indigo">
              <div class="col-example">
                  <div class="bx--form-item">
                    <label for="select-id-form" class="bx--label">Sub Bussiness</label>
                    <div class="bx--select">
    
                      <select id="select-id-form" class="bx--select-input" (change)="getSelectedValue($event)">
                          <option class="bx--select-option" disabled selected >All</option>
                          <option *ngFor="let item of subArrs" [value]="item" >{{item}}</option>
                       </select>
                      <div class="bx--form-requirement">
                        Please choose an option.
                      </div>
                      <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
                        <path d="M10 0L5 5 0 0z"></path>
                      </svg>
                    </div>
                  </div>
               </div>
  
          </div>
          <div class="bx--col-md-4 indigo">
              <div class="col-example">
                  <div class="bx--form-item">
                    <label for="select-id-form" class="bx--label">Geo</label>
                    <div class="bx--select">
                      <select id="select-id-form" class="bx--select-input" (change)="getSelectedValue($event)">
                        <option class="bx--select-option" disabled selected >All</option>
                        <option *ngFor="let item of Geo" [value]="item" >{{item}}</option>
                       </select>
                      <div class="bx--form-requirement">
                        Please choose an option.
                      </div>
                      <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
                        <path d="M10 0L5 5 0 0z"></path>
                      </svg>
                    </div>
                  </div>
               </div>
             </div>
             
                <div class="bx--col-md-4 indigo">
                    <div class="col-example">
                        <div class="bx--form-item">
                          <label for="select-id-form" class="bx--label">Select managers Role</label>
                          <div class="bx--select">
                            <select id="select-id-form" class="bx--select-input" (change)="getSelectedValue($event)" >
                              <option class="bx--select-option" disabled selected hidden>All</option>
                              <option *ngFor="let item of managerRoles" [value]="item" >{{item}}</option>
                            </select>
                            <div class="bx--form-requirement">
                              Please choose an option.
                            </div>
                            <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
                              <path d="M10 0L5 5 0 0z"></path>
                            </svg>
                          </div>
                        </div>
                    </div>
                </div>
                 
              <div class="bx--col-md-4 indigo">
                    <div class="col-example">
                        <div class="bx--form-item">
                          <label for="select-id-form" class="bx--label">Market</label>
                          <div class="bx--select">
                            <select id="select-id-form" class="bx--select-input" (change)="getSelectedValue($event)" id="bu1">
                                <option class="bx--select-option" disabled selected >All</option>
                              <option class="bx--select-option" value="option1" *ngFor="let item of Market" [value]="item">{{item}} </option>
                            </select>
                            <div class="bx--form-requirement">
                              Please choose an option.
                            </div>
                            <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5" fill-rule="evenodd">
                              <path d="M10 0L5 5 0 0z"></path>
                            </svg>
                          </div>
                        </div>
                    </div>
                 </div>  
                 <div class="bx--col-md-6 indigo " style="margin:20px auto">
                    <div class="bx--form-item" >
                        <button class="bx--btn bx--btn--primary" type="button" (click)="save()">ENTER</button>
                        <button class="bx--btn bx--btn--primary" type="button" style="margin-left:5px">CANCEL</button>
                    </div>
                    
                  </div>
                  
  
                  
  
                <ul>
                  <li> {{bussinessArr}}</li>
                  <li>{{subArr}}</li>
                  <li>{{managerRole}}</li>
                  <li> {{geo}}</li>
                  <li> {{market}}</li>
                </ul>
  
                
            
                  
                  
  
                  
             
             
              
              
  
  
  
    
