<h1 style="text-align:center;padding:20px;">
  Dashboard works!
</h1>


<div class="bx--grid">
    <div class="bx--row">
      <div class="bx--col-md-4 indigo">

<ul>
     <li *ngFor="let f of formValues">
           {{f}}
     </li>
</ul>

 </div>
 </div>
 </div>

 <div class="bx--grid">
    <div class="bx--row">
      <div class="bx--col-md-12 indigo">

       <h1>Carbons system d3 js grpahs</h1>

 </div>
 </div>
 </div>



 
 <div class="bx--grid">
    <div class="bx--row">
      <div class="bx--col-md-5 indigo">

      <app-carbonbar></app-carbonbar>
      </div>
      <div class="bx--col-md-5 indigo">

          <app-carbonbar></app-carbonbar>
          </div>
 </div>
 </div>


